<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ap.electivesystem.mapper.SelectMapper">

    <insert id="insertBatch">
        insert into tb_select(course_id, student_id) values
        <foreach collection="list" item="courseId" separator=",">
            (#{courseId}, #{studentId})
        </foreach>
    </insert>
    <select id="findByCourseId" resultType="com.ap.electivesystem.entity.vo.StudentVO">
        select ts.student_id, student_name
        from tb_select
                 inner join tb_student ts on tb_select.student_id = ts.student_id
        where course_id = #{courseId}
    </select>
    <select id="search" resultType="com.ap.electivesystem.entity.vo.SelectVO">
        select tb_select.course_id, course_name, tc.teacher_id, teacher_name,ts.student_id, student_name, weekday, course_room, `time`, offer_state
        from tb_select
        inner join tb_student ts on tb_select.student_id = ts.student_id
        inner join tb_course tc on tb_select.course_id = tc.course_id
        inner join tb_teacher tt on tc.teacher_id = tt.teacher_id
        <where>
            <if test="courseId != null">
                tb_select.course_id = #{courseId}
            </if>
            <if test="teacherId != null">
                and teacher_id = #{teacherId}
            </if>
            <if test="studentId != null">
                and student_id = #{studentId}
            </if>
            <if test="teacherName != null and teacherName != ''">
                and teacher_name like concat('%',#{teacherName},'%')
            </if>
            <if test="courseName != null and courseName != ''">
                and course_name like concat('%',#{courseName},'%')
            </if>
            <if test="studentName != null and studentName != ''">
                and student_name like concat('%',#{studentName},'%')
            </if>
            <if test="weekday != null and weekday != ''">
                and weekday = #{weekday}
            </if>
            <if test="time != null and time != ''">
                and `time` = #{time}
            </if>
        </where>
    </select>
    <select id="studentList" resultType="com.ap.electivesystem.entity.vo.StudentVO">
        select ts.student_id, student_name
        from tb_select
                 inner join tb_course tc on tb_select.course_id = tc.course_id
                 inner join tb_student ts on tb_select.student_id = ts.student_id
        where tc.course_id = #{courseId}
    </select>
</mapper>
